#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+bindnow

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -Dintrospection=enabled -Dvapi=enabled

override_dh_auto_test:
	# disable the syntax-check tests, which are mostly for
	# upstream development
	dh_auto_test -- --no-suite syntax-check
